@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote {
  quotes: none; }
  blockquote:before, blockquote:after {
    content: '';
    content: none; }

q {
  quotes: none; }
  q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  color: #2A394F;
  background-color: #FFFFFF;
  font-size: 1.65rem;
  line-height: auto; }

.text-indent {
  text-indent: 20px; }

.page-title, .page-header h2 {
  height: 0;
  text-indent: -1000000px; }

.wrapper-header, .wrapper {
  width: 100%;
  max-width: 930px;
  margin: 0 auto; }

.wrapper {
  max-width: 1160px;
  max-height: 163.5px; }

.page-header {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 57px; }
  .page-header .nav-top .drop-down-menu {
    position: absolute;
    top: -30px;
    right: 30px;
    height: 8px;
    padding: 5px;
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
    transition: 0.3s -webkit-transform linear;
    transition: 0.3s transform linear;
    transition: 0.3s transform linear, 0.3s -webkit-transform linear;
    cursor: pointer;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
    .page-header .nav-top .drop-down-menu.drop-down-menu-change {
      -webkit-transform: rotate(-135deg);
      transform: rotate(-135deg);
      bottom: 10px; }
    @media only screen and (min-width: 1025px) {
      .page-header .nav-top .drop-down-menu {
        display: none; } }
  .page-header .nav-top .logo-div-mobile .logo-mobile {
    position: absolute;
    top: -30px;
    left: 30px;
    width: 115px; }
    @media only screen and (min-width: 1025px) {
      .page-header .nav-top .logo-div-mobile .logo-mobile {
        display: none; } }
  .page-header .nav-top .nav-links {
    display: none; }
    .page-header .nav-top .nav-links.nav-opened {
      display: block;
      margin-top: 30px;
      background-color: #FFFFFF;
      opacity: 0.95;
      position: relative; }
      .page-header .nav-top .nav-links.nav-opened::before {
        position: absolute;
        content: '';
        border-bottom: 10px solid #FFFFFF;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        height: 20px;
        top: -29px;
        right: 25px; }
      .page-header .nav-top .nav-links.nav-opened li {
        padding: 30px;
        border-bottom: 1px ridge;
        text-align: center; }
        .page-header .nav-top .nav-links.nav-opened li:nth-child(3) {
          display: none; }
        .page-header .nav-top .nav-links.nav-opened li a {
          text-decoration: none;
          color: #020410;
          text-transform: uppercase; }
        .page-header .nav-top .nav-links.nav-opened li:hover {
          background-color: #C7C7C7;
          font-weight: bold;
          border-left: 3px solid #1C263C; }
    @media only screen and (min-width: 1025px) {
      .page-header .nav-top .nav-links {
        display: block; }
        .page-header .nav-top .nav-links li {
          text-align: center;
          width: 17.75%;
          float: left; }
          .page-header .nav-top .nav-links li:nth-child(3) {
            width: 29%; }
          .page-header .nav-top .nav-links li a {
            font-weight: 400;
            font-size: 1.5rem;
            color: #FFFFFF;
            text-decoration: none;
            line-height: 0.5rem;
            font-family: "Lato", sans-serif; }
            .page-header .nav-top .nav-links li a:hover {
              color: #FEFEFE; }
              .page-header .nav-top .nav-links li a:hover:not([title="Go back to the home page"]):after {
                text-align: center;
                content: "\00b7";
                color: #0E7ADF;
                display: block;
                font-size: 2em; }
            .page-header .nav-top .nav-links li a:active {
              color: #0E7ADF; }
        .page-header .nav-top .nav-links .logo-div .logo {
          position: relative;
          top: -2.5px;
          width: 115px; } }

::-webkit-input-placeholder, .main-page header .sign-up form .normal-state, .main-page header .sign-up form .invalid, .main-page header .sign-up form input[type="submit"], .main-page .section-join-us .button-join-us {
  font-weight: 100;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  color: #C8C8C8; }

.main-page header {
  background: url(../images/background_header.png) fixed no-repeat;
  background-size: cover;
  background-position: bottom center;
  text-align: center;
  color: #FFFFFF;
  font-weight: 200; }
  @media only screen and (min-width: 1025px) {
    .main-page header {
      height: 855px;
      margin: 32px 35px 0; } }
  .main-page header .article-header {
    padding-top: 100px;
    padding-bottom: 50px; }
    .main-page header .article-header h2 {
      text-transform: uppercase;
      font-size: 5.5rem;
      font-weight: 400;
      padding: 0 10px; }
    @media only screen and (min-width: 1025px) {
      .main-page header .article-header {
        padding-top: 190px;
        padding-bottom: 76px; }
        .main-page header .article-header h2 {
          font-size: 6.5rem;
          padding: 0; }
        .main-page header .article-header .first-line-article-header {
          padding-bottom: 6px; } }
  .main-page header .article-lead {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding: 0 10px;
    letter-spacing: 0.04em; }
    @media only screen and (min-width: 1025px) {
      .main-page header .article-lead {
        padding: 0 107.5px; } }
  .main-page header .sign-up {
    margin-top: 47px;
    margin-bottom: 62px;
    padding-bottom: 30px; }
    @media only screen and (min-width: 1025px) {
      .main-page header .sign-up {
        padding-bottom: 0; } }
    .main-page header .sign-up p {
      font-size: 2.4rem;
      padding: 0 40px; }
    .main-page header .sign-up form {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      margin: auto;
      margin-top: 15px;
      width: 80%; }
      @media only screen and (min-width: 1025px) {
        .main-page header .sign-up form {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-flow: column;
          flex-flow: column;
          margin: auto;
          margin-top: 15px;
          width: 35%; } }
      .main-page header .sign-up form input[type="email"] {
        margin-bottom: 10.5px;
        padding: 12.5px 15px 11.5px;
        background: none; }
        .main-page header .sign-up form input[type="email"]:focus {
          outline: none; }
      .main-page header .sign-up form .normal-state {
        border: 1px solid #FFFFFF;
        border-radius: 2.5px; }
      .main-page header .sign-up form .invalid {
        border: 1px solid #7D1515;
        color: #FFFFFF;
        border-radius: 0px 0px 2.5px 2.5px; }
      .main-page header .sign-up form span.invalid:after {
        position: absolute;
        top: -24px;
        left: 0px;
        border-width: 1px 0 1px 0;
        border-radius: 2.5px 2.5px 0px 0px;
        content: 'this is not a valid email address';
        font-size: 1.2rem;
        padding: 8px 0;
        background-color: #7D1515;
        opacity: 0.8;
        width: 100%; }
      .main-page header .sign-up form input[type="submit"] {
        font-size: 2.295rem;
        font-weight: 300;
        padding-top: 10px;
        padding-bottom: 9px;
        border: 2px solid #1A88EF;
        border-radius: 2.5px;
        background-color: #1A88EF;
        cursor: pointer;
        color: #FFFFFF;
        transition: 0.4s ease-in-out; }
        .main-page header .sign-up form input[type="submit"]:hover {
          transition: 0.4s ease-in-out;
          background-color: #4871A3;
          border-color: #4871A3; }
  .main-page header .arrow {
    display: none; }
    @media only screen and (min-width: 1025px) {
      .main-page header .arrow {
        display: inline;
        height: 27px;
        margin-bottom: 21.5px;
        cursor: pointer; } }
.main-page section {
  font-weight: 300; }
  .main-page section h3 {
    font-size: 5.5rem;
    padding: 20px; }
  .main-page section p {
    line-height: 2.95rem;
    padding: 20px; }
  @media only screen and (min-width: 1025px) {
    .main-page section {
      height: 950px; }
      .main-page section h3, .main-page section p {
        padding: 0; } }
.main-page .section-about .div-section-about {
  text-align: center; }
  .main-page .section-about .div-section-about .section-text {
    padding: 10px; }
    .main-page .section-about .div-section-about .section-text h3 {
      color: #FFFFFF;
      background-color: #1F2020; }
  .main-page .section-about .div-section-about .div-img-about {
    display: none; }
@media only screen and (min-width: 1025px) {
  .main-page .section-about {
    background: url(../images/bg_text.png) no-repeat;
    background-size: 100% 163px;
    background-position-y: 250px;
    margin: 0 35px; }
    .main-page .section-about .div-section-about {
      position: relative;
      max-width: 1160px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
      flex-flow: row-reverse; }
      .main-page .section-about .div-section-about .section-text {
        margin-bottom: 391px; }
        .main-page .section-about .div-section-about .section-text h3 {
          background-color: transparent;
          text-align: right;
          margin-top: 250px;
          padding: 52.5px 75px 51px 1px;
          width: 100%; }
        .main-page .section-about .div-section-about .section-text p {
          width: 60.35%;
          margin: 0 0 0 455px;
          text-align: left;
          padding: 33px 21px 7px 10px; }
      .main-page .section-about .div-section-about .div-img-about {
        display: block;
        position: absolute;
        top: 150px;
        left: -60px; }
        .main-page .section-about .div-section-about .div-img-about .img-about {
          max-width: 491px;
          border-radius: 20px;
          box-shadow: 10px 10px 14px -5px #424647; } }
.main-page .section-service {
  margin-top: 70px; }
  @media only screen and (min-width: 1025px) {
    .main-page .section-service {
      margin-top: 126px; }
      .main-page .section-service h3 {
        padding: 0 58px 46px 140px; }
      .main-page .section-service p {
        padding: 0 105px 90px 180px; } }
  .main-page .section-service .section-text {
    max-width: 930px;
    margin: 0 auto;
    text-align: center; }
  .main-page .section-service .div-img-service {
    background-color: #1F1F1F; }
    .main-page .section-service .div-img-service .img-service {
      max-width: 100%;
      margin: 0 auto; }
.main-page .section-plans {
  background-color: #1F1F1F;
  text-align: center; }
  .main-page .section-plans .div-img-plans {
    background-color: #FFFFFF; }
    .main-page .section-plans .div-img-plans .img-plans {
      max-width: 100%;
      margin: 0 auto; }
  .main-page .section-plans .section-text {
    color: #FFFFFF; }
    .main-page .section-plans .section-text h3 {
      padding-top: 70px; }
    .main-page .section-plans .section-text p {
      padding-bottom: 30px; }
  @media only screen and (min-width: 1025px) {
    .main-page .section-plans .section-text h3 {
      padding-bottom: 26px;
      padding-top: 143px; }
    .main-page .section-plans .section-text p {
      max-width: 700px;
      padding-left: 82.5px;
      padding-right: 67.5px;
      margin: 0 auto;
      padding-bottom: 0; }
    .main-page .section-plans .div-img-plans {
      background-color: transparent; }
      .main-page .section-plans .div-img-plans .img-plans {
        position: relative;
        bottom: 35px;
        max-width: 39.5%;
        margin-top: 89px;
        border-radius: 54px 54px 0 0; } }
.main-page .section-join-us {
  max-height: 100vh;
  text-align: center;
  margin-bottom: 60px; }
  .main-page .section-join-us .section-text {
    padding-top: 70px; }
  .main-page .section-join-us .button-join-us {
    width: 80%;
    margin-bottom: 30px;
    font-size: 2.295rem;
    font-weight: 300;
    padding-top: 10.5px;
    padding-bottom: 8px;
    border: 2px solid #4871A3;
    border-radius: 2.5px;
    background-color: #4871A3;
    cursor: pointer;
    color: #FFFFFF;
    transition: 0.4s ease-in-out; }
    .main-page .section-join-us .button-join-us:hover {
      transition: 0.4s ease-in-out;
      background-color: #FFFFFF;
      color: #4871a3; }
  @media only screen and (min-width: 1025px) {
    .main-page .section-join-us {
      max-height: 490px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-flow: column;
      flex-flow: column;
      margin: auto;
      margin-top: 159.5px;
      width: auto;
      margin-bottom: 147px; }
      .main-page .section-join-us .section-text {
        padding-top: 0;
        margin-bottom: 40px; }
        .main-page .section-join-us .section-text h3 {
          padding-bottom: 47px; }
        .main-page .section-join-us .section-text p {
          width: 66.4%;
          margin: 0 auto; }
      .main-page .section-join-us .button-join-us {
        width: 28.5%;
        margin-bottom: 0; } }

.page-footer {
  background-color: #2A394F; }
  .page-footer .nav-footer {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-height: 400vh;
    padding: 30px 0; }
    .page-footer .nav-footer .footer-section {
      width: 100%;
      text-align: center;
      margin-top: 5%; }
    .page-footer .nav-footer div h4 {
      font-weight: bold;
      font-size: 1.282rem;
      color: #FFFFFF;
      text-decoration: none;
      line-height: auto;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      padding-bottom: 4px;
      letter-spacing: 0.1em; }
    .page-footer .nav-footer div li, .page-footer .nav-footer div a {
      font-weight: normal;
      font-size: 1.122rem;
      color: #6788B7;
      text-decoration: none;
      line-height: auto;
      font-family: "Lato", sans-serif;
      padding-top: 9px; }
    .page-footer .nav-footer .logo-div .logo {
      width: 101px;
      margin-top: 30px; }
  @media only screen and (min-width: 1025px) {
    .page-footer {
      margin: 0; }
      .page-footer .nav-footer {
        max-width: 1160px;
        max-height: 163.5px;
        margin: 0 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;
        padding: 0; }
        .page-footer .nav-footer .footer-section {
          width: 11.7%;
          margin-bottom: 43.5px;
          margin-top: 25px;
          text-align: left; }
        .page-footer .nav-footer .logo-div .logo {
          margin-left: 230px;
          margin-top: 18.5px; } }

/*# sourceMappingURL=style.css.map */
